<div class="row no-gutters hot-tours tour-card-shadow-mob">
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ excursionDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload" src
                     data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h128828/small/booking128828_4.jpg">
                <div class="lds-spinner"></div>
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи), из Киева
                </div>
                <div class="hot-content__heading">
                    На выходные в Европу Микс Будапешт +Вена <span>3 <svg class="svg-icon svg-icon--rating" width="10" height="8">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#rating"></use>
                    </svg></span>
                </div>
                <div>
                    Германия, Чехия, Прага, Дрезден
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>1 695</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/tailand/o-pkhuket/h242231/small/242231_637061272595653878.jpg">
                <div class="lds-spinner"></div>
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи), из Киева
                </div>
                <div class="hot-content__heading">
                    Throne Seagate Belek
                </div>
                <div>
                    Тайланд, Бангкок, Паттайя
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>15 500</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/oae/dubajj/h3674/small/booking3674_1.jpg">
                <div class="lds-spinner"></div>
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи), из Киева
                </div>
                <div class="hot-content__heading">
                    Супер отдых в Бодруме! Charm Beach Hotel 5&nbsp;<svg class="svg-icon svg-icon--rating" width="10"
                                                                         height="8">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#rating"></use>
                    </svg>
                </div>
                <div>
                    Турция, Бодрум
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>8 750</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/shri-lanka/maravila/h22882/small/hi22882_1394497.jpg">
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи)
                </div>
                <div class="hot-content__heading">
                    Супер отдых в Бодруме! Charm Beach Hotel
                </div>
                <div>
                    Турция, Бодрум
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>8 750</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ excursionDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h3292/small/hi3292_1428679.jpg">
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи)
                </div>
                <div class="hot-content__heading">
                    На выходные в Европу Микс Будапешт +Вена
                </div>
                <div>
                    Германия, Чехия, Прага, Дрезден
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>1 695</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <span class="hot-ic"></span>
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/tailand/o-pkhuket/h156589/small/booking156589_1.jpg">
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи)
                </div>
                <div class="hot-content__heading">
                    Throne Seagate Belek
                </div>
                <div>
                    Тайланд, Бангкок, Паттайя
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>15 500</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_13.jpg">
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи)
                </div>
                <div class="hot-content__heading">
                    Супер отдых в Бодруме! Charm Beach Hotel
                </div>
                <div>
                    Турция, Бодрум
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>8 750</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-xl-3 hot-tours__col">
        <a href="{{ hotDetailLink }}" class="tour-card">
            <div class="tour-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.turne.com.ua/static/hotels/egipet/khurgada/h205287/small/hi205287_1215514.jpg">
            </div>
            <div class="tour-card__body hot-content">
                <div>
                    23.08.2019 (3 ночи)
                </div>
                <div class="hot-content__heading">
                    Супер отдых в Бодруме! Charm Beach Hotel
                </div>
                <div>
                    Турция, Бодрум
                </div>
            </div>
            <div class="tour-card__footer">
        <span class="tour-card__price">
          <span>8 750</span>
          грн/чел</span>
                <span class="btn btn-brand btn-brand--orange">Подробнее</span>
            </div>
        </a>
    </div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">ПОКАЗАТЬ ЕЩЕ</a>

