<div class="slick-carousel-wrap">
    <div class="slick-carousel slick-carousel-flex search-card-slider js-search-card-slider">
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/bodrum/h3030/small/booking3030_1.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Green Beach Resort <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Хороший пляж, вид на море, уборка. Но плохие завтраки, однотипные

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h131592/small/booking131592_1.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Kimeros Park Holiday Village <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                          height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong>
                                    <span class="search-card-hotel-review__author">Анна, 18 октября 2019</span>
                                </div>

                                Отдых получился отличный, прежде всего благодаря агентству Поехали с нами. Всегда
                                внимательны, вежливы, профессиональны. Отель удобно расположен, пляж большой, лежаков
                                хватало… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Kemer Dream <span>4 <svg class="svg-icon svg-icon--rating" width="10"
                                                         height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong>
                                    <span class="search-card-hotel-review__author">Олег , 13 ноября 2019</span>
                                </div>
                                Лучший отель из четырехзвездочных. Отдыхаю в нем уже 4 год.
                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Alva Donna World Palace <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                     height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h5561/small/hi5561_1237310.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Club Hotel Pineta <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                               height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h14784/small/booking14784_33.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Ideal Prime Beach Hotel <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                     height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Kemer Dream <span>4 <svg class="svg-icon svg-icon--rating" width="10"
                                                         height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong>
                                    <span class="search-card-hotel-review__author">Олег , 13 ноября 2019</span>
                                </div>
                                Лучший отель из четырехзвездочных. Отдыхаю в нем уже 4 год.
                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Alva Donna World Palace <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                     height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h5561/small/hi5561_1237310.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Club Hotel Pineta <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                               height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-carousel-item">
            <div class="search-card">
                <a href="#" class="search-card__image responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h14784/small/booking14784_33.jpg">
                    <div class="lds-spinner"></div>
                </a>
                <div class="search-card__inner">
                    <div class="search-card__body">
                        <div class="search-card__content">
                            <a href="{{ hotelDetailLink }}" class="search-card__heading">
                                Ideal Prime Beach Hotel <span>5 <svg class="svg-icon svg-icon--rating" width="10"
                                                                     height="10">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                            </a>
                            <div class="search-card__fromTo">
                                Египет, Шарм-эль-Шейх
                            </div>

                            <a href="#" class="search-card-hotel-review__rating">
                                <div class="search-card-hotel-review__score">
                                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                                         style="stroke-dasharray: 109.2, 140">
                                        <use href="#progressbar"></use>
                                        <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                                    </svg>
                                    <span>27 отзывов</span>
                                </div>
                                <ul class="search-card-hotel-review__facilities">
                                    <li><span>Расположение</span> <i>5</i></li>
                                    <li><span>Питание</span><i>4</i></li>
                                    <li><span>Развлечение</span><i>3</i></li>
                                    <li><span>Обслуживание</span><i>4</i></li>
                                    <li><span>Номера</span><i>4</i></li>
                                </ul>
                            </a>

                            <div class="search-card-hotel-review">
                                <div class="search-card-hotel-review__info">
                                    <strong>Последний отзыв:</strong> <span class="search-card-hotel-review__author">Жанна, 31 октября 2019</span>
                                </div>

                                Отель расположен в районе Набк Бей. Был открыт в 2007 году. Общая площадь территории
                                составляет
                                200 000 м2. При въезде в гостиницу есть казино VEGAS. Отель прекрасно подойдет для семейного
                                или
                                индивидуального отдыха… <a href="#">Читать далее</a>

                            </div>
                        </div>
                        <a class="search-card__all-reviews" href="#">Все отзывы</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slick-navigation">
        <div class="js-dots"></div>
    </div>
</div>