{% if mobile %}
    {% set MenuLink = "_mobile" %}
{% else %}
    {% set MenuLink = "-page" %}
{% endif %}
<div class="b-dropdown header__child-menu jsHeaderMenu" style="display: none">
    <ul>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Египет</span>от 15 367 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Турция</span>от 12 294 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Кипр</span>от 22 362 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>ОАЭ</span>от 15 367 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Италия</span>от 23 913 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Греция</span>от 15 785 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Испания</span>от 16 530 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Китай</span>от 25 379 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Шри-Ланка</span>от 32 918 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Таиланд (Тайланд)</span>от 38 177 грн</a></li>
        <li><a href="tour-country{{ MenuLink }}.html"><span>Французская Полинезия</span>от 38 177 грн</a></li>
    </ul>
    <span class="child-menu-link"><a href="tourne-countries{{ MenuLink }}.html">Все страны</a></span>
</div>