<div class="row">
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный, молодежный, городской
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-12 search-tour-col">
		{% include "form-callback.twig" %}
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-12 search-tour-col">
		{% include "form-callback.twig" %}
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__content">
						<a href="{{ hotelDetailLink }}" class="search-card__heading">
							Armada Bluebay Hotel, 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="10">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#rating"></use>
							</svg>
						</a>
						<div class="search-card__fromTo">
							Дубай, ОАЭ
						</div>
					</div>
					<div class="search-card__description">
						Отель расположен в одной из зрелищных башен Армада, напротив Эмирейтс Хиллз, Палм Джумейра и Дубай Марина, рядом с деловым и финансовым центром. Из каждого из номеров открывается чарующий вид на город.
					</div>
					<div class="search-card__facilities">
						<span class="media">
							<svg class="svg-icon " width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
							</svg>
							Семейный
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
							</svg>
							1 линия
						</span>
						<span class="media">
							<svg class="svg-icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
							</svg>
							Песчаный пляж
						</span>
					</div>
					<div class="search-card__buyers">
						<span>
							280
						</span>
						туристов купили тур в этот отель
					</div>
				</div>
				<div class="search-card__review-block">
					<a href="" class="search-card__review-score">
						<svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58" style="stroke-dasharray: 109.2, 140">
							<use href="#progressbar"></use>
							<text transform="matrix(1 0 0 1 12.1257 33.9479)" fill="#0D0F0F">3.9/5</text>
						</svg>
						<span>27 отзывов</span>
					</a>
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">Показать еще</a>