<div class="row no-gutters hot-tours tour-card-shadow-mob">
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ excursionDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<span class="hot-ic"></span>
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h128828/small/booking128828_4.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#plane"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>1 695</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h493/small/booking493_11.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#train"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>15 500</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/oae/dubajj/h3674/small/booking3674_1.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>8 750</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				{#<img class="objectFitCover lazyload"#}
				{#data-src="https://img.turne.com.ua/static/hotels/shri-lanka/maravila/h22882/small/hi22882_1394497.jpg">#}
				<img class="objectFitCover lazyload" data-src="Images/no-photo-small.jpg"> <div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#ship"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>8 750</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ excursionDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h3292/small/hi3292_1428679.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#auto"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>1 695</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<span class="hot-ic"></span>
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h3292/small/hi3292_1428679.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#no-transport"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>15 500</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_13.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>8 750</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
	<div class="col-12 col-md-6 col-xl-3 hot-tours__col">
		<a href="{{ hotDetailLink }}" class="tour-card">
			<div class="tour-card__thumbnail responsive-thumbnail">
				<img class="objectFitCover lazyload" data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_13.jpg">
				<div class="lds-spinner"></div>
			</div>
			<div class="tour-card__body hot-content">
				<div class="tour-card__about-trip">
					<div class="tour-card__date">
						24.01 – 27.01 (3 ночи)
					</div>
					<div class="tour-card__date-info">
						Без ночных перездов
					</div>
				</div>
				<div class="tour-card__tour-info">
					Уикенд как в сказке! Будапешт, Любляна и Венеция!
				</div>
				<div class="tour-card__countries">
					Венгрия , Италия , Словения
				</div>
				<div class="tour-card__countries-tour">
					Будапешт – Любляна – Венеция
				</div>
				<div class="tour-card__about-tour">
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
						</svg>
						Питание:<strong>завтрак</strong>
					</div>
					<div class="media">
						<svg class="tour-card__icon" width="16" height="16">
							<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
						</svg>
						Выезд из<strong>Львова</strong>
					</div>
				</div>
			</div>
			<div class="tour-card__footer">
				<span class="tour-card__price">
					<span>8 750</span>
					грн/чел</span>
				<span class="btn btn-brand btn-brand--orange">Подробнее</span>
			</div>
		</a>
	</div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">СМОТРЕТЬ ВСЕ</a>
